body {
    font-family: Arial, sans-serif;
    background-color: #f5e7d5;
    color: #333;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fdf4e3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #6b4226;
}

p {
    font-size: 1.2em;
    color: #75875d;
}

form {
    margin: 20px 0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: #f39c12;
    box-shadow: 0 0 5px rgba(243, 156, 18, 0.5);
}

.btn {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #d35400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e67e22;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f3e6d4;
}

td {
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

.fa {
    margin-right: 10px;
}
